<table class="table table-hover">
  <tr>
      <th>Changelist</th>
      <th>Owner</th>
      <th>Time Started</th>
      <th colspan="3" class="steps">
          <div>Build</div>
          <div>Unit Test</div>
          <div>Funcional Test</div>
      </th>
      <th>Status</th>
  </tr>
  <tr ng-class="build.status" ng-repeat="build in builds | orderBy:'-startedAt'">
      <td>{{build.changelist}}</td>
      <td>{{build.owner}}</td>
      <td class="text-lowercase show-time">
          {{build.startedAt | date : 'd / M / yyyy'}} <span class="glyphicon glyphicon-time hflip" aria-hidden="true"></span>{{build.startedAt | date : 'shortTime'}}
      </td>
      <td colspan="3" class="steps" ng-class="build.step">
          <div>
              <span class="glyphicon" ng-class="getGlyphiconStepByStatus(build.status)" aria-hidden="true"></span>
          </div>
          <div>
              <span class="glyphicon" ng-class="getGlyphiconStepByStatus(build.status)" aria-hidden="true"></span>
          </div>
          <div>
              <span class="glyphicon" ng-class="getGlyphiconStepByStatus(build.status)" aria-hidden="true"></span>
          </div>
      </td>
      <td class="text-capitalize">
          <div>
              <span class="glyphicon" ng-class="getGlyphiconStatusByStatus(build.status)" aria-hidden="true"></span>
          </div>
          {{build.status}}
      </td>
  </tr>
</table>
