// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


@import "compass/css3";

// Import flexbox
@import "compass/css3/flexbox";


// Import Base
@import "base";

body {
    font-size: $font-size;
    color: $gray;
    background: $background-color;
}

table {
    margin-top: 5em;
    border: 2px solid $smooth-gray;
    border-left: 0;
    background-color: $white;
}

th {
    font-size: $font-size;
    line-height: $font-size * 2.5 !important;
}

td {
    line-height: $font-size * 4 !important;
}

tr.details td {
    line-height: $font-size * 6 !important;
}

th:first-child{
    border-left:5px solid $smooth-gray;
    padding-left: 5em !important;
}

.strong-labels {
    font-weight: 500;
    font-size: $font-size * 1;
    line-height: $font-size * 3.63 !important;
}

td:last-child {
    @extend .strong-labels;
}

td:first-child {
    @extend .strong-labels;
    @extend th:first-child;
    font-weight: 400;
}

td.show-time span {
    font-size: $font-size * 0.73;
    padding-left: $font-size * 0.15;
}

.hflip {
  @include hflip;
}

.status {
    display: inline-block;
}

.circle {
    @extend .status;
    border-radius:50%;
    text-align:center;
}

.circle-symbols {
    @extend .circle;
    width:$font-size*1.5;
    height:$font-size*1.5;
    font-size:$font-size*0.6;
    position: relative;
    top: 2px;

    span {
        line-height:$font-size*1.2;
        display: table-row;
    }
}

.pending {
    td {
        border-left-color:$pending-color;
        &:last-child{
            color: $pending-color;
            div {
                @extend .circle-symbols;
                border: 2px solid darken($pending-color, 5%);
            }
        }
        &.steps {
            div.step {
                background-color: $pending-color;
                span {
                    left: 30%;
                    &:after {
                        content: '';
                        @extend .circle;
                        position: relative;
                        width:$font-size*1.4;
                        height:$font-size*1.4;
                        font-size:$font-size*0.8;
                        border:2px solid $white;
                        left: -50%;
                    }
                }
            }
        }
    }
}

.running {
    td {
        border-left-color:$running-color;
        &:last-child{
            color: $running-color;
            div {
                @extend .status;
                span {
                    font-weight: bold;
                    color: darken($running-color, 5%);
                }
            }
        }
        &.steps {
            div.step {
                background-color: $running-color;
            }
        }
    }
}

.passed {
    td {
        border-left-color:$passed-color;
        &:last-child{
            color: $passed-color;
            div {
                @extend .status;
                span {
                    font-weight: bold;
                    color: darken($passed-color, 5%);
                }
            }
        }
        &.steps {
            div.step {
                background-color: $passed-color;
            }
        }
    }
}

.failed {
    td {
        border-left-color:$failed-color;
        &:last-child{
            color: $failed-color;
            div {
                @extend .status;
                span {
                    font-weight: bold;
                    color: darken($failed-color, 5%);
                }
            }
        }
        &.steps {
            div.step {
                background-color: $failed-color;
            }
            span.glyphicon-failed:after {
                content: '!';
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}


.inline {
    display: inline-block; /* non-flexbox browsers */
    @include display-flex(inline-flex);
    @include align-items(center);
    @include justify-content(center);
}

th.steps {

    div {
        @extend .inline;
        width:30%;
    }

}

td.steps {
    position: relative;

    &:after {
        content: ' ';
        background: $smooth-gray;
        top: 39%;
        width: 65%;
        left:15%;
        height: $font-size*0.7;
        position: absolute;
        display: block;
    }
    div.step {
        @extend .circle;
        @extend .inline;
        width:$symbol-font-size;
        height:$symbol-font-size;
        font-size:$symbol-font-size/3;
        background: $smooth-gray;
        border:$larger-border solid $smooth-gray;
        margin:0 10%;
        color:$white;
        position:relative;
        z-index:1;
        span {
            top:0;
            @include single-text-shadow;
        }
        &.disabled {
            background: $smooth-gray;
        }
        &.disabled span {
            color: $smooth-gray;
            text-shadow: none;
        }
        &.disabled span:after {
            border: 0;
        }
    }
    div.progress {
        height:$font-size*0.3;
        position: absolute;
        top: 44%;
        width: 23%;
        left: 20%;
        z-index: 1;
        background-color: transparent;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:last-child {
            left: 50%;
        }
        .progress-bar {
            background-color: $running-color;
        }

        .progress-bar-success {
            background-color: $passed-color;
        }

        .progress-bar-danger {
            background-color: $failed-color;
        }
    }
}

tr.details td {
    display: none;
}

tr.selected td {
    border-left-color:$smooth-gray;
    &:last-child{
        border:0 !important;
        outline:1px solid $smooth-gray;
    }
}

tr.selected.passed td {
    border-top:3px solid $passed-color;
}

tr.details.selected td {
    display: table-cell;
    outline: none !important;
    border-top:1px solid $smooth-gray !important;
    border-left:$larger-border+1 solid $smooth-gray !important;
}
